.container {
	width: 320px;
}

.heading {
	padding: 0 4px;
}


.itemContainer {
		cursor: pointer;
    display: flex;
    flex-direction: row;
		margin: 8px 4px;
		/* border:2px solid cadetblue; */
}

.thumbnailContainer {
    width: 112px;
    height: 64px;
}

img {
		width: 112px;
		height: 64px;	
}

.videoDetails {
    margin: 0 0 0 8px;
    display: flex;
    flex-direction: column;
    /* background-color: bisque; */
}

.videoTitle {
    margin: 0;
		font-size: larger;
		font-weight: bold;
    /* background-color: burlywood; */
}

.recommenders {
    margin: 4px 0 0 0;
		color: #767676;
}

.channel {
		margin: 6px 0 0 0;
		color: #767676;
		text-decoration: none;
}