@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.videosHome {
    width: 100%;
}

.videoSectionHome {
    /* --n:5; */
    display: grid;
    /* display:flex;
    flex-wrap: wrap; */
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    row-gap: 18px;
    column-gap: 16px;
    margin: 20px 24px;
    border-bottom: 4px solid #CCC;
}

.videoContainerHome {
    display: flex;
    flex-direction: column;

    


    /* background-color: cadetblue; */
		/* padding: 2rem; */
}

.thumbnailHome {
    position: relative;
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 56.25%;
    background-color: aqua;
}

.thumbnailHome::before {
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0,0,0,0.85);
    color: white;
    right: 5px;
    bottom: 5px;
    padding: .1em .3em;
    border-radius: .3em;
    font-size: 1.2rem;
    font-weight: 500;
}

.thumbnailImgHome {
    width: 100%;
    object-fit: cover;
    /* min-width: 280px;
    min-height: 150px; */
    background-color: #AAA;
}

.vidBottomSectionHome {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.iconImgHome {
    margin-right: 0.75rem;;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;
}

.videoDetailsHome {
    display: flex;
    flex-direction: column;
}

.videoTitleHome {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: black;
}

.channelNameHome {
    font-size: 1.4rem;
    margin-bottom: 0.1rem;
    text-decoration: none;
    color: rgb(102, 102, 102);
    transition: color 150ms;
}

.channelNameHome:hover {
    font-size: 1.4rem;
    color: #111;
}

.videoMetaHome {
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #555;
}

.reccommenderHome {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(223, 55, 55);
    padding-top: 4px;
}



.videoSection {
    display: flex;
    /* display:flex;*/
    /* flex-wrap: wrap;  */
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) !important; */
    flex-direction: column;
    gap: 2rem 1rem; 
    padding: 0 0 3rem 0;
    margin: 0 0rem 1rem 0rem;
    border-bottom: 2px solid #CCC;
    /* background-color: burlywood; */
}

.videoContainer {
    display: flex;
    flex-direction: row;
    /* background-color: cadetblue; */
}


.thumbnail {
    position: relative;
    display: flex;
		cursor: pointer;
}

.thumbnail::before {
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0,0,0,0.85);
    color: white;
    right: 5px;
    bottom: 5px;
    padding: .1em .3em;
    border-radius: .3em;
    font-size: 1.2rem;
		font-weight: bold;
}

.thumbnailImg {
    width: 168px;
    height: 94px;
    object-fit: cover;

    /* min-width: 250px;
    min-height: 150px; */
    background-color: #AAA;
}

.vidBottomSection {
    display: flex;
    align-items: flex-start;
    margin-left: 1rem;
}

.iconImg {
    margin-right: 0.75rem;;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;
}

.videoDetails {
    display: flex;
    flex-direction: column;
}

.videoTitle {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: black;
}

.channelName {
    margin-top: 3px;
    font-size: 12px;
    margin-bottom: 0.1rem;
    text-decoration: none;
    color: #555;
    transition: color 150ms;
}

.channelName:hover {
    color: #111;
}

.videoMeta {
    margin-top: 3px;
    font-size: 12px;
    color: #555;
}

.recommender {
    padding-top: 4px;
    color: #CF0011;
    font-weight: 500;
    font-size: 13px;
}

.buttonContainer {
    /* width: 30px; */
    display: flex;
    flex-direction: row;
    float: right;
    padding-top: 6px;
    padding-bottom: 3px;
    margin: 7px -120px 5px 5px;
    border: none;
    background: none;
    font-size: 11pt;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
}

.buttonContainer:hover {
		cursor: pointer;
    color: #CF0011;
}

/* .buttonImg {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: -30px;
    top: 50%;
    transform: translateY(-50%);
} */

.buttonText {
    color: rgb(0, 0, 0);
    font-size: 11pt;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
    margin: 10px 20px 0px 0px;
}

.buttonStar {
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
    margin: -6px 0px 0px 4px;
}

/* text_style.style["fontSize"] = "36pt"
box.style["background-color"] = "#FF00FF";
box.style["height"] = '200px'
box.style["margin-top"] = '80px';
box.style["margin-bottom"] = '-40px'; */

.buttonContainerDisabled {
    /* width: 30px; */
		cursor:default;
    display: flex;
    flex-direction: row;
    float: right;
    padding-top: 6px;
    padding-bottom: 3px;
    margin: 7px -120px 5px 5px;
    border: none;
    background: none;
    font-size: 11pt;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: rgb(124, 124, 124);
}
